ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
}

.gallery img {
  display: block;
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: all 0.3s ease;
  cursor: pointer;
}

.gallery img:hover {
  width: 376px;
  height: 208px;
  transform: translateZ(0);
}

.basicLightbox {
  background-color: rgba(46, 47, 66, 0.8);
}
